body{
    background: whitesmoke;
}
.main-title{
    font-weight: bold;
}
.title{
    font-style: italic;
    color: darkgrey;
}
div{
    padding: 30px;
}
.description{
    font-weight: bold;
    color: rgb(72, 11, 214);
}
.films{
    border: dotted 5px black;
}
.e-list{
    font-weight: bold;
    font-style: initial;
}